extends layout

block content
  .alert.alert-success.text-center.mt-5
    h3.mb-3 ✅ #{mensaje}

    if resumenId
      a.btn.btn-outline-secondary.me-2(href=`/resumen/${resumenId}`) Ver resumen del paciente

    a.btn.btn-primary.ms-2(href="/") Volver al inicio
